.channel-list {
    padding-top: .5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    overflow: hidden;
    &-item {
        cursor: pointer;
        padding-left: .3rem;
        user-select: none;
        $item: &; 
        img {
            border-radius: 50%;
        }
        &--default {
            height: 4rem;
            width: 100%;
            display: block;
            padding: 1rem;
            display: grid;
            grid-template-columns: 4rem 1fr;
            column-gap: 1rem;
            position: relative;
            &::after {
                content: '';
                position: absolute;
                right: 0;
                left: 5rem;
                bottom: -2px;
                border-bottom: 1px solid var(--window-border);
            }
            #{$item} {
                &-image {
                    height: 4rem;
                    width: 4rem;
                }

                &-wrapper {
                    overflow-x: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
            }
            &:last-child {
                #{$item}-wrapper { 
                    border-bottom: none;
                }
            }
        }
        
        &--pinned {
            box-sizing: border-box;
            width: 33%;
            display: inline-block;
            padding: 1rem;
            #{$item} {
                &-image {
                    width: 6.5rem;
                    height: 6.5rem;
                    margin-bottom: .5rem;
                }
                &-receipents {
                    font-weight: 400;
                    text-align: center;
                    font-size: 1.1em;
                    span {
                        display: none;
                    }
                }
                &-excerpt {
                    display: none;
                }
            }
        }
        &-image {
            background-color: #ffffff5d;
            box-shadow: 0 0 .5rem #00000015;
            border-radius: 50%;
            position: relative;

            &[data-count="1"] {
                img {
                    width: 100%;
                    height: 100%;
                }
            }
            &:not([data-count="1"]) {
                img {
                    position: absolute;
                    width: 30%;
                    height: 30%;
                }
                img:nth-child(1) {
                    width: 40%;
                    height: 40%;
                }
            }
            &[data-count="2"] {
                img {
                    width: 50%;
                    height: 50%;
                }
                img:nth-child(1) {
                    top: 10%;
                    left: 10%;
                }
                img:nth-child(2) {
                    bottom: 10%;
                    right: 10%;
                }
            }
            &[data-count="3"] {
                img:nth-child(1) {
                    top: 13%;
                    left: 13%;
                }
                img:nth-child(2) {
                    bottom: 13%;
                    right: 13%;
                }
                img:nth-child(3) {
                    top: 13%;
                    right: 13%;
                }
            }
            &[data-count="4"] {
                img:nth-child(1) {
                    top: 13%;
                    left: 13%;
                }
                img:nth-child(2) {
                    bottom: 13%;
                    right: 13%;
                }
                img:nth-child(3) {
                    top: 18%;
                    right: 13%;
                }
                img:nth-child(4) {
                    bottom: 13%;
                    left: 18%;
                }
            }
        }

        &--active {
            background-color: var(--active);
            border-radius: .6rem;
            color: white;
            &::after {
                display: none;
            }
            #{$item} {
                &-receipents, &-excerpt {
                    color: white;
                }
                &-wrapper {
                    border-bottom-color: transparent;
                }
            }
        } 
        &-receipents {
            font-size: 1.3rem;
            color: var(--channel-receipents);
            font-weight: 600;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            width: 100%;
        }
        &-excerpt {
            font-size: 1.2rem;
            color: var(--secondary);
        }
    }
}
