html {
    --bubble-primary: #087fff;
    --bubble-primary-text: #ffffff;
    --bubble-secondary: #e9e9eb;
    --bubble-secondary-text: #2d2d2d;
    --button-primary: #087fff;
    --button-secondary: #b6b6b6;
    --secondary: #828282;
    --channel-receipents: #505152;
    --window-border: #d9d9d9;
    --scrollbar: #828282;
    --app-background: #ebeaea;
    --window-button-close: #fa5f58;
    --window-button-minimize: #febc2e;
    --window-button-maximize: #39c840;
    --window-button-border-close: #bb403a;
    --window-button-border-minimize: #c49022;
    --window-button-border-maximize: #29972c;
    --active: #087fff;
}